<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="/assets/marc/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/assets/marc/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/assets/marc/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/assets/marc/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/assets/marc/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Create Lead</h2>
                    <form [formGroup]="registerForm" class="form-horizontal" (ngSubmit)="register()">
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.name.errors}">
                                    <input type="text" class="form-control" placeholder="Enter First Name"
                                        formControlName="name">
                                    <span class="text-danger"
                                        *ngIf="(formControl.name.touched || submitted) && formControl.name.errors?.required">
                                        First Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.busiDesc.errors}">
                                    <input type="text" class="form-control" placeholder="Enter Business Name"
                                        formControlName="busiDesc">
                                    <span class="text-danger"
                                        *ngIf="(formControl.busiDesc.touched || submitted) && formControl.busiDesc.errors?.required">
                                        Business Name is required
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.email.errors}">
                                    <input type="text" class="form-control" placeholder="Enter Valid Email"
                                        formControlName="email">
                                    <span class="text-danger"
                                        *ngIf="(formControl.email.touched || submitted) && formControl.email.errors?.required">
                                        Email is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="formControl.email.touched && formControl.email.errors?.email">
                                        Email must be a valid email address
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.mobile.errors}">
                                    <input type="text" class="form-control" placeholder="Enter Phone No"
                                        formControlName="mobile">
                                    <span class="text-danger" maxlength=10
                                        *ngIf="(formControl.mobile.touched || submitted) && formControl.mobile.errors?.required">
                                        Phone No is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="formControl.mobile.errors?.minlength || formControl.mobile.errors?.maxlength">
                                        Phone No must be 10 numbers
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.city.errors}">
                                    <input type="text" class="form-control" placeholder="Enter city"
                                        formControlName="city">
                                    <span class="text-danger"
                                        *ngIf="(formControl.city.touched || submitted) && formControl.city.errors?.required">
                                        Location is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group"
                                    [ngClass]="{'has-error': submitted && formControl.postcode.errors}">
                                    <input type="text" class="form-control" placeholder="Enter pincode No"
                                        formControlName="postcode">
                                    <span class="text-danger" maxlength=10
                                        *ngIf="(formControl.postcode.touched || submitted) && formControl.postcode.errors?.required">
                                        Pincode is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="formControl.postcode.errors?.minlength || formControl.postcode.errors?.maxlength">
                                        Pincode No must be 6 numbers
                                    </span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/assets/marc/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/assets/marc/vendor/select2/select2.min.js"></script>
    <script src="/assets/marc/vendor/datepicker/moment.min.js"></script>
    <script src="/assets/marc/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="/assets/marc/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->