<div class="sidebar" data-color="white" data-active-color="danger">

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="dashboard.html">
          <span><i class="fal fa-tachometer-alt-slowest"></i></span>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="activities.html">
          <span><i class="fas fa-user-tie"></i></span>
          <p>Create Lead</p>
        </a>
      </li>
      <li>
        <a href="#">
          <span><i class="fas fa-comment-alt"></i></span>
          <p>Lead Inbox</p>
        </a>
      </li>
      <li>
        <a href="#">
          <span><i class="fal fa-money-bill"></i></span>
          <p>Setup </p>
        </a>
      </li>
      <li>
        <a href="#">
          <span><i class="fal fa-cog"></i></span>
          <p>Report</p>
        </a>
      </li>

    </ul>
  </div>
</div>