<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/common.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/assets/marc/css/style.css">


</head>
<div class="header">
    <div class="container-fluid">
        <div class="row">    
             <div class="col-md-3 col-sm-6 col-3">
             <div class="logo-cover">
                 <a href="dashboard.html"><img src="/assets/marc/images/logo.png" alt=""></a>
             </div>
            </div>
            <div class="col-md-7 col-sm-6 col-7">
                <div class="header-icon-cover">
                 <ul class="header-icon-list">
                     <li><a href="#"><span class="fal fa-expand"></span></a></li>    
                     <li><a href="#"><span class="fal fa-bell"></span></a></li>
                 </ul>
             </div>
            </div>    
            <div class="col-md-2 col-sm-6 col-2">
                <div class="profile-cover clearfix">
                    
                     <nav class="navbar navbar-dark navbar-expand-sm float-right profile">
                             <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                 <div  class="profile-icon">
                                     <div class="profile-wrapper">
                                         <img src="/assets/marc/images/user-img.png" width="40" height="40" class="rounded-circle"  />
                                      </div>
                                         <div class="profile-details"> 
                                             Hi Harry Narayanan<br>
                                      <span>Director - Vellore North</span></div>
                                     </div>
                              </a>
                               <ul class="navbar-nav">
                                   <li class="nav-item dropdown">
                                   <a class="fal fa-angle-down" role="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   </a>
                                   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                     <a class="dropdown-item" href="#">Dashboard</a>
                                     <a class="dropdown-item" href="#">Edit Profile</a>
                                     <a class="dropdown-item" href="#">Log Out</a>
                                   </div>
                                 </li>   
                               </ul>
                     </nav>
                </div>
             </div>
        </div>
    </div>
 </div>