<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="background-image: url('../../../assets/homepage.jpg'); height:400 ;width:400">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
        <div class="panel-body">

          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
          </div>

          <!-- Login Form -->
          <form [formGroup]="loginForm" class="form-horizontal" (submit)="authentication()">

            <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userPhone.errors}">
              <input type="text" class="form-control" placeholder="Enter Phone No" formControlName="userPhone">
              <br>
              <span class="text-danger" maxlength=10 *ngIf="(formControl.userPhone.touched || submitted) && formControl.userPhone.errors?.required">
                Phone No is required
              </span>
              <span class="text-danger"
                *ngIf="formControl.userPhone.errors?.minlength || formControl.userPhone.errors?.maxlength">
                Phone No must be 10 numbers
              </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userPassword.errors}">
              <input type="password" class="form-control" placeholder="Enter Password" formControlName="userPassword">
              <span class="text-danger"
                *ngIf="(formControl.userPassword.touched || submitted) && formControl.userPassword.errors?.required">
                Password is required
              </span>
              <span class="text-danger"
                *ngIf="formControl.userPassword.touched && formControl.userPassword.errors?.minlength">
                Password must be at least 6 characters
              </span>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"> Log In</button>
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
              Not a member?<li><a routerLink="/register" routerLinkActive="active">Signup now </a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>