<div style="background-color:rgb(116, 190, 240);">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Product Details</h3>
                    <form [formGroup]="productForm" class="row contact_form" (ngSubmit)="addProduct()">
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productName.errors}">
                            <input type="text" class="form-control" formControlName="productName"
                                placeholder="Product Name" />
                            <span class="text-danger"
                                *ngIf="(formControl.productName.touched || submitted) && formControl.productName.errors?.required">
                                Product Name is required
                            </span>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productPrice.errors}">
                            <input type="text" class="form-control" formControlName="productPrice"
                                placeholder="Product Price" />
                            <span class="text-danger"
                                *ngIf="(formControl.productPrice.touched || submitted) && formControl.productPrice.errors?.required">
                                Product price is required
                            </span>
                        </div>
                        <div class="form-group">
                            <div>Product Category</div>
                            <select class="form-control" formControlName="productCatName">
                                <option value="s">---select---</option>
                                <option *ngFor="let cat of category" value="{{cat.lovId}}">{{cat.lovName}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div>Product Brand</div>
                            <select class="form-control" formControlName="brandName">
                                <option value="s">---select---</option>
                                <option *ngFor="let brandName of brand" value="{{brandName.lovId}}">
                                    {{brandName.lovName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.unitsInStock.errors}">
                            <input type="text" class="form-control" formControlName="unitsInStock"
                                placeholder="Units In Stock" />
                            <span class="text-danger"
                                *ngIf="(formControl.unitsInStock.touched || submitted) && formControl.unitsInStock.errors?.required">
                                Units is required
                            </span>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productSize.errors}">
                            <input type="text" class="form-control" formControlName="productSize"
                                placeholder="Product Size" />
                            <span class="text-danger"
                                *ngIf="(formControl.productSize.touched || submitted) && formControl.productSize.errors?.required">
                                Product size is required
                            </span>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productWeight.errors}">
                            <input type="text" class="form-control" formControlName="productWeight"
                                placeholder="Product Weight" />
                            <span class="text-danger"
                                *ngIf="(formControl.productWeight.touched || submitted) && formControl.productWeight.errors?.required">
                                Product Weight is required
                            </span>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productName.errors}">
                            <select class="form-control" formControlName="productColor">
                                <option value="s">---select color--- </option>
                                <option *ngFor="let clr of color" value="{{clr.lovId}}">{{clr.lovName}}</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <div>Discount Available</div>
                            <select class="form-control" formControlName="productDicountAva">
                                <option value="s">---select---</option>
                                <option *ngFor="let dis of discount" value="{{dis.lovId}}">{{dis.lovName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productDiscount.errors}">
                            <input type="text" class="form-control" formControlName="productDiscount"
                                placeholder="Discount in %" />
                            <span class="text-danger"
                                *ngIf="(formControl.productDiscount.touched || submitted) && formControl.productDiscount.errors?.required">
                                Product discount is required
                            </span>
                        </div>
                        <div class="col-md-6 form-group p_star"
                            [ngClass]="{'has-error': submitted && formControl.productImg.errors}">
                            <input type="text" class="form-control" formControlName="productImg"
                                placeholder="Product image url" />
                            <span class="text-danger"
                                *ngIf="(formControl.productImg.touched || submitted) && formControl.productImg.errors?.required">
                                Product image url is required
                            </span>
                        </div>


                        <div class="form-group">
                            <div>Product In Stock</div>
                            <select class="form-control" formControlName="productInStock">
                                <option value="s">---select---</option>
                                <option *ngFor="let dis of discount" value="{{dis.lovId}}">{{dis.lovName}}</option>
                            </select>
                        </div>


                        <div class="form-group"
                            [ngClass]="{'has-error': submitted && formControl.productDesc.errors}">
                            <div for="exampleFormControlTextarea1">Product Desc</div>
                            <textarea class="form-control" formControlName="productDesc"></textarea>
                            <span class="text-danger"
                                *ngIf="(formControl.productDesc.touched || submitted) && formControl.productDesc.errors?.required">
                                Product description is required
                            </span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" [disabled] = "!productForm.valid">Submit</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>