<meta charset="UTF-8">
<meta name="description" content="Free Web tutorials">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta name="author" content="John Doe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="js/common.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<link rel="stylesheet" href="/assets/marc/css/style.css">
<link rel="stylesheet" href="/assets/marc/css/collapse.css">
<script src="/assets/marc/js/coolapse.js"></script>

<div>
    <div class="main-panel">
        <div class="main-pane-inner">
            <div class="container-fluid">
                <div class="search-wrapper">
                    <div class="row">
                        <div class="col-md-8 pr-0">
                            <div class="panel-div  bdr-rds-tb-left">
                                <h1 class="main-heading red-text">Lead Inbox</h1>
                            </div>

                        </div>
                        <div class="col-md-4 pl-0">
                            <div class="search-div">
                                <div id="custom-search-input" class="bdr-rds-tb-right">
                                    <div class="input-group">
                                        <input type="text" class="search-query form-control" placeholder="Search..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button">
                                                <span class="fal fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overview-mt">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h1 class="main-heading">New Member Approval</h1>
                            <div class="main-content">
                                <div class="table-wrapper">
                                    <div class="table-responsive">
                                        <table class="table table-gap">
                                            <thead class="thead-light">

                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Lead ID</th>
                                                    <th>Generated On</th>
                                                    <th>Source</th>
                                                    <th>Customer Name</th>
                                                    <th>Contact No.</th>
                                                    <th>Email ID</th>
                                                    <th>CRM ID</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let lead of model">
                                                <tr>
                                                        <td>{{lead.sno}}</td>
                                                        <td>{{lead.leadNo}}</td>
                                                        <td>{{lead.createdDate}}</td>
                                                        <td>{{lead.incomeingMode}}</td>
                                                        <td>{{lead.createdBy}}</td>
                                                        <td>{{lead.mobile}}</td>
                                                        <td>{{lead.email}}</td>
                                                        <td>{{lead.leadNo}}</td>
                                                        <td>{{lead.name}}</td>
                                                        <td>{{lead.status}}</td>

                                                        <td>
                                                            <div class="icon-list">
                                                                <ul>
                                                                    <li><a href="#"><i class="fal fa-edit"></i></a></li>
                                                                    <li><a href="#"><i class="fal fa-trash-alt"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>

                                                </tr>

                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-footer">
                                        <div class="row">
                                            <div class="col col-xs-4">
                                                <p class="table-rec-text">10 Records / Per page</p>
                                            </div>
                                            <div class="col col-xs-4">
                                                <nav aria-label="...">


                                                    <ul class="pagination justify-content-end mb-0">
                                                        <li class="page-item">
                                                            <a class="page-link" href="#" tabindex="-1">
                                                                <i class="fas fa-angle-left"></i>
                                                                <span class="sr-only">Previous</span>
                                                            </a>
                                                        </li>
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#">1</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">2 <span
                                                                    class="sr-only">(current)</span></a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">
                                                                <i class="fas fa-angle-right"></i>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-30">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                    <div class="btn-list flex-content-center">
                                                        <button type="button" class="btn btn-primary">Cancel</button>
                                                        <button type="button" class="btn btn-secondary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>




<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div id="headingTwo">
    <h5 class="card-title">
        Or Notes
        <a data-toggle="collapse" class="float-right" href="#collapseNotes" role="button" aria-expanded="false" data-target="#collapseNotes" aria-controls="collapseNotes">
            <i class="fa fa-angle-up"></i>
        </a>
    </h5>
</div>
<div class="collapse" id="collapseNotes">
    Anim pariatur cliche reprehenderit
</div>