<app-marc-header></app-marc-header>
<app-marc-sidebar></app-marc-sidebar>

<div class="main-panel">
    <div class="main-pane-inner">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-box">
                        <ul>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-icon">
                                            <span><i class="fal fa-search"></i></span>
                                        </div>
                                        <div class="card-content">
                                            <h3>Directions</h3>
                                            <p>All zonals</p>
                                            <a href="#" class="btn pink-btn">57</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-icon">
                                            <span><i class="fal fa-search"></i></span>
                                        </div>
                                        <div class="card-content">
                                            <h3>Chambers</h3>
                                            <p>All zonals</p>
                                            <a href="#" class="btn green-btn">1587</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-icon">
                                            <span><i class="fal fa-search"></i></span>
                                        </div>
                                        <div class="card-content">
                                            <h3>Turnover</h3>
                                            <p>All zonals</p>
                                            <a href="#" class="btn  purple-btn">30Cr</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-icon">
                                            <span><i class="fal fa-search"></i></span>
                                        </div>
                                        <div class="card-content">
                                            <h3>Outstanding</h3>
                                            <p>All zonals</p>
                                            <a href="#" class="btn yellow-btn">10Cr</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>