/* CSS reset */
*{margin: 0; padding: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0;}
html,body {margin:0;padding:0;font-family: 'Poppins', sans-serif !important;  font-size: 14px;color: #444;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}

input{border:1px solid #b0b0b0;padding:3px 5px 4px;color:#979797;width:190px;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
p {font-size: 14px;line-height: 24px;}

/* ------- global css --------- */


.primary-text{color: #ee1a24 !important;}
.mb0{margin-bottom: 0px !important;}
.btn-list{margin: 0 auto;}
.btn-list .btn{border-radius: 50px; padding: 7px 25px;min-width: 100px; margin: 0px 5px 8px 0px;color: #fff;}
.btn-primary, .btn-secondary{border:none; color: #131313;}
.btn-primary{background:#ee1a24;}
.btn-secondary{background:#193398 ;}
.btn-outline-primary {color: #131313 !important;background-color: transparent;background-image: none;border-color: #ee1a24; }
.btn-outline-secondary {color: #131313 !important;background-color: transparent;background-image: none;border-color: #495376; }

.btn-primary:hover,   .btn-primary:focus{background:#d41720; box-shadow: none;}
.btn-secondary:hover,   .btn-secondary:focus{background:#0a184e; box-shadow: none;}
.btn-outline-secondary:hover,  .btn-outline-secondary:focus{background:#193398; color: #fff !important; box-shadow: none;}
.btn-outline-primary:hover,  .btn-outline-primary:focus{background:#ee1a24; color: #fff !important; box-shadow: none;border-color: #ee1a24;}
.bg-white{background: #fff;}
.bg-transparent{background: transparent;}
.padd-0{padding: 0 !important;}
.bdr-0{border:none !important;}
a{cursor: pointer;}
a:hover {text-decoration: none;}

.page-overview-inner {padding: 30px;border: 1px solid #bec8ea;border-radius: 6px; margin-bottom: 25px;}
.dropdown-menu{padding: 0px;}
.mt-30{margin-top: 30px;}
textarea{resize: none;}
.red-btn{background: #ee1a24; color: #fff;}

.btn-danger.focus, .btn-danger:focus{box-shadow: none;}


/* ------- scroll css --------- */

::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-track {box-shadow: none;border-radius: 10px;}
::-webkit-scrollbar-thumb {background: #ddd;border-radius: 10px;}

/*====== End css    ============*/

.header {background: #fff;border-bottom: 1px solid #ddd;position: fixed;top: 0;left: 0;width: 100%;z-index: 9;height: 83px;}
.logo-cover {max-width: 180px;overflow: hidden; padding: 15px 0px;}
img {max-width: 100%;}
.wrapper {position: relative;top: 0;height: 100%;}
.sidebar, .off-canvas-sidebar {position: fixed;top: 0;height: 100%;bottom: 0;width: 260px;left: 0;z-index: 1030;border-right: 1px solid #ddd;}
.main-panel {position: relative;float: right;width: calc(100% - 140px);background-color: #fcfbff;transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);height: 100%;padding: 85px 0px 0px;}
.main-panel .main-pane-inner{width:95%; margin:0 auto;}
.main-content {margin-bottom: 30px;height: calc( 100vh - 50px );
    overflow: auto;
    padding-right: 20px;}
.main-heading{font-size: 16px;font-weight: 600; color: #131313;}
.sidebar, .off-canvas-sidebar {position: fixed;top: 83px;height: 100%;bottom: 0;width: 130px;left: 0;z-index: 1030;border-right: 1px solid #ddd;background: #2f3952;}
.sidebar .nav{display: block; overflow: auto; height: 650px;}
.sidebar .nav li{background: #2f3952; display: block;}
.sidebar .nav li.active{background:#ed1b24 ;}
.sidebar .nav li.active a:hover{background:#ed1b24 }
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {color: #FFFFFF;display: block;text-decoration: none;position: relative;cursor: pointer;font-size: 16px;padding: 30px 8px;line-height: 24px;border-bottom: 1px solid #454c69;}
.sidebar .nav li > a:hover{background: #061654; color: #fff; display: block;}
.sidebar .nav li > a span{text-align: center; display: block; margin-bottom: 5px;}
.sidebar .nav li > a span i{font-size: 32px; }
.sidebar .nav li > a p{text-align: center;}

.panel-div {padding: 15px 30px;border: 1px solid #eeecf7;background: #fff;}
.bdr-rds-tb-left{border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.bdr-rds-tb-right{border-top-right-radius: 6px; border-bottom-right-radius: 6px;}

.red-text{color: #ee1a24;}
.pl-0{padding-left: 0px;}
.pr-0{padding-right: 0px;}



.header-icon-list {display: flex;align-items: center;justify-content: right;}
.header-icon-list li a {    margin: 0px 10px;font-size: 20px;color: #444;}
.header-icon-cover {margin: 26px 0px;}


 /*-----------  profile css   ---------*/

.profile .navbar-nav .dropdown a:hover{text-decoration:  none;}
.profile .navbar-nav li .fal{font-size: 24px; color: #081850;}
.dropdown-menu .dropdown-item{font-size: 14px;font-size: 14px;padding: 5px 20px;max-width: 100%;min-width: 180px;}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover{background: #f8f9fa !important;}
.profile{border-left: 1px solid #dddd;padding: 21px 0px 21px 21px;}
.profile .navbar-brand{display: table-cell;padding: 0px;height: 40px;}
.profile-icon{ display: flex;}
.profile-icon img{margin-right: 10px;}
.profile-wrapper {height: 40px; width: 40px; overflow: hidden;display: inline; border: 1px solid #aaadf1; overflow: hidden; border-radius: 50%;}
.profile-details{font-size: 16px;line-height: 19px;font-weight: 500;color: #081850;padding-left: 10px;}
.profile-details span{font-size: 12px;color: #716f6f;font-weight: 300;}
.profile .navbar-nav  .dropdown-menu{margin: 15px 0px 0px;box-shadow: 1px 2px 10px #e0dbf1;left: auto;right: 0px; }
.profile .navbar-nav  .dropdown-menu .dropdown-item{clear: both; padding: 8px 20px;}   
.profile .navbar-nav  .dropdown-menu .dropdown-item:hover{color: #081850;}

    /*-------- Search icon -----------*/

.search-wrapper{ margin: 5px 0px 30px;}
#custom-search-input {padding: 12px 25px;border: 1px solid #eeecf7;background: #fff;margin-left: -1px;}
#custom-search-input input::-webkit-input-placeholder {color: #a6a4a4;}
#custom-search-input button {border: 0;background: none;padding: 0px 0px;position: relative;left: 8px;margin-bottom: 0; }
#custom-search-input .input-group .form-control{border: none;padding: 0px; font-size: 14px !important;}
#custom-search-input .form-control:focus{box-shadow: none;}
#custom-search-input .fal{color: #444; font-size: 22px;}
#custom-search-input button:focus{box-shadow: none;}
.search-query:focus + button {z-index: 3;   }
.form-control {font-size: 14px;border-radius: 0px;padding: 8px 15px;border: 1px solid #eeecf7;background: #fff; }
.form-control:focus{box-shadow: none;  border:1px solid #eeecf7}

    /*-------- Dashboard  box -----------*/

.dashboard-box {width: 100%;}
.dashboard-box ul {display: flex;align-items: center;flex-wrap: wrap;width: 100%; }
.dashboard-box li {flex: 1;display: inline-table;   border-right: 1px solid #eeecf7; }
.dashboard-box li:last-child{border-right: none; } 
.dashboard-box li:first-child .card {border-top-left-radius:6px; border-bottom-left-radius:6px} 
.dashboard-box li:last-child .card{border-top-right-radius:6px; border-bottom-right-radius:6px} 
.dashboard-box .card{position: relative; margin-left: -2px; border: 1px solid #eeecf7;border-radius: 0px;; }
.dashboard-box .card-body{padding: 25px 25px 25px 90px; }
.dashboard-box  .dash-icon {position: absolute;left: 20px;top: 50%;display: flex;align-items: center;justify-content: center;}
.dashboard-box .dash-icon{font-size: 40px;  margin-top: -30px;}
.dashboard-box .dash-icon .fal{    border-right: 1px solid #ddd;padding-right: 13px;line-height: 25px;}
.dashboard-box .card-content h3 {font-size: 16px;font-weight: 500;color: #333;}
.dashboard-box .card-content p {font-size: 14px;color: #a8a8a8;}
.dashboard-box .card-content .btn{    padding: 4px 22px;  border-radius: 50px; margin-top: 10px; color: #333;  border:none;     display: flex;justify-content: center;font-weight: 500;    max-width: 60px;}
.dashboard-box .card-content .pink-btn{background: #fbb0ad;}

.dashboard-box .card-content .pink-btn:hover{background: #f5a19e;}
.dashboard-box .card-content .green-btn:hover{background: #96e993;}
.dashboard-box .card-content .blue-btn:hover{background: #94c0e9;}
.dashboard-box .card-content .purple-btn:hover{background: #d48ee4;}
.dashboard-box .card-content .yellow-btn:hover{background: #f1dc9d;}

.pink-btn{background: #fbb0ad;}
.green-btn{background: #b5fbb2;}
.blue-btn{background: #add8ff;}
.purple-btn{background: #ecb0fa;}
.yellow-btn{background: #ffecb4;}

/*---------- overview  css ----------*/

.overview-mt{margin-top: 40px; padding-bottom: 30px ;}
.overview-mt .main-heading{margin-bottom: 20px;}
.overview-inner-box {background: #fff;min-height: 250px;width: 100%;border: 1px solid #ecebf0; margin-bottom: 40px; padding: 15px;border-radius: 6px;}
.overview-inner-box .box-height{max-width: 780px;height: 310px;}

/*---------- flex listed  css ----------*/

.flex-listed {display: inline-block;}
.flex-listed li{width:50%; float: left;}

.lister-iinner-div {text-align: center;transition: all 0.3s;}
.lister-iinner-div  h5 {font-weight: 500;margin: 10px 0px;text-transform: uppercase;font-size: 14px;}
.lister-iinner-div  p{padding: 12px 10px 12px; border-radius: 6px;}
.lister-iinner-div .img-wrapper .fal{font-size: 28px; margin: 5px 0px;}
.lister-iinner-div:hover h5{color: #ee1a24; transition: all 0.3s;}
.lister-iinner-div:hover p{ box-shadow:0px 0px 13px 0px rgb(229 228 230); transition: all 0.3s; color: #6d7acd;}
.lister-iinner-div:hover a i{color:#ee1a24; font-size: 24px;}
.lister-iinner-div a i{color: transparent; font-size: 24px;}

/*--------------  table design -------------*/

.table-wrapper {height: calc( 100vh - 50px );overflow: auto;padding-right: 15px;}
.table-gap{border-collapse:separate;border-spacing:0 15px;}
.table {width: 100%;margin-bottom: 20px;background-color: transparent;}
.table th,.table td {vertical-align: top;border-top: 1px solid #e9ecef;padding: 6px 25px;}

.table thead th {vertical-align: bottom;border-bottom: 2px solid #e9ecef;padding: 8px 25px;}
.table tbody + tbody {border-top: 2px solid #e9ecef;}
.table .table {background-color: #f8f9fe;}

.table-responsive {display: block;overflow-x: auto;width: 100%;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
.table thead th {font-size: 14px;padding: 15px;border: none;border-top: 1px solid #c5cce5;border-bottom: 1px solid #c5cce5;}
.table thead tr th:first-child, .table tr td:first-child {border-top-left-radius: 8px; border-bottom-left-radius: 8px;     border: 1px solid #c5cce5;border-right: none; padding: 8px 25px; vertical-align: middle;} 
.table thead tr th:last-child, .table tr td:last-child {border-top-right-radius: 8px; border-bottom-right-radius: 8px;border: 1px solid #c5cce5;border-left: none; padding: 8px 25px; vertical-align: middle;} 
.table th {font-weight: 600;border-top: 1px solid #c5cce5;border-bottom: 1px solid #c5cce5;}
.table td, .table th {font-size:14px;white-space: nowrap;border-top: 1px solid #c5cce5;border-bottom: 1px solid #c5cce5;}

.table td,.table th {vertical-align: middle;}
.table .thead-light th {color: #323851;background-color: #ebe8f9;padding: 10px 25px;border-top: 1px solid #c5cce5;border-bottom: 1px solid #c5cce5;}
.table-rec-text {color: #495376;font-size: 13px; line-height: 18px; margin-top: 10px;}
.pagination {display: flex;padding-left: 0;list-style: none;border-radius: .375rem;}

.page-link {line-height: 1.25;position: relative;display: block;margin-left: -1px;padding: .5rem .75rem;color: #323852;border: 1px solid transparent;background-color: #fff;border-radius: 4px;}
.page-link:hover {z-index: 2;text-decoration: none;color: #fff;border-color: #6b70a0;background-color: #323851;}
.page-link:focus {z-index: 2;outline: 0;box-shadow: none;}
.page-link:not(:disabled):not(.disabled) {cursor: pointer;}

.page-item:first-child .page-link {margin-left: 0;border-radius: 4px;}
.page-item:last-child .page-link {margin-left: 0;border-radius: 4px;}
.page-item.active .page-link {z-index: 1;color: #fff;border-color: #6b70a0;background-color: #323851;border-radius: 4px;}
.page-item.disabled .page-link {cursor: auto;pointer-events: none;color: #8898aa;border-color: #dee2e6;background-color: #fff;}

.page-item .page-link,
.page-item span {font-size: .875rem;display: flex;width: 36px;height: 36px;margin: 0 3px;padding: 0;   align-items: center;justify-content: center;}

.avatar {font-size: 1rem;display: inline-flex;width: 48px;height: 48px;color: #fff;border-radius: 50%;background-color: #adb5bd;align-items: center;justify-content: center;margin-right: 10px;}
.avatar img {width: 100%;border-radius: 50%;}
.avatar-sm {font-size: .875rem;width: 30px;height: 30px;}
.avatar-group .avatar {position: relative;z-index: 2;border: 2px solid #fff;}
.avatar-group .avatar:hover {z-index: 3;}
.avatar-group .avatar + .avatar {margin-left: -1rem;}
.user-div {display: flex;align-items: center;}
.icon-list{display: flex;justify-content: left;}
.icon-list ul {display: flex;align-items: center;justify-content: center;}
.icon-list li + li{margin-left: 10px;}
.icon-list li i{font-size: 15px; color: #2b2b2b;}


/*====== Transaction card design ============*/
.left-card-listed li{width: 100%;}
.left-card-listed .transaction-inner-div {position: relative; text-align: left;}
.left-card-listed .transaction-inner-div .img-wrapper {position: absolute;top: 50%;margin-top: -25px;border-right: 1px solid #6d7acd;padding-right: 25px;left: 10px;height: inherit;max-width: inherit;}
.left-card-listed .transaction-inner-div:hover .img-wrapper{border-right: 1px solid transparent;}
.left-card-listed .transaction-inner-div .cont-cover {padding-left: 70px;}
.left-card-listed .transaction-inner-div p{    padding: 12px 20px 12px;}
.left-card-listed p{padding: 12px 25px 12px; border-left: none}  
.left-card-listed .transaction-inner-div a {text-align: center; color: transparent;font-size: 24px;text-align: center; display: block;}
.left-card-listed .transaction-inner-div:hover a{color: #ee1a24; font-size: 24px; display: inherit;}

/*---------- inbox table css ----------*/  

.inbox-table-container .list-item {box-shadow: 0px 0px 13px 0px rgb(229 228 230);width: 100%;border: 1px solid #ecebf0;margin-bottom: 28px;padding:5px 15px;border-radius: 6px;}
.inbox-table-container .table{margin-bottom: 0px;}
.inbox-table td, .inbox-table th {border: none;}
.inbox-table thead tr th:first-child, .inbox-table tr td:first-child{border: none;}
.inbox-table  thead tr th:last-child, .inbox-table  tr td:last-child{border: none;}
.inbox-table .table-title{color: red; text-decoration: underline;}
.inbox-table > tbody>:nth-child(2){color:#495376; }
.inbox-table > tbody>:nth-child(3){color:#727fab; }

.received-amt, .paid-amt {padding: 3px 25px;background: #727fab;border-radius: 50px;display: inline-block;float: right;color: #fff;font-size: 14px;}
.os-amt {padding: 0px 25px;background: transparent;border-radius: 50px;display: inline-block;float: right;color: #727fab;font-size: 14px;}

.custom-scrollbar {height:800px;width: 100%;overflow-y: scroll;margin-bottom: 25px;border-radius: 6px;padding-right: 25px;padding: 10px 25px 0px 0px;}
.custom-scrollbar::-webkit-scrollbar {background-color:#a4a8f0;width: 3px;}
.custom-scrollbar::-webkit-scrollbar-track {background-color: #f3f0f0;border-radius: 6px;}
.custom-scrollbar::-webkit-scrollbar-thumb {border: 0px solid #f3f0f0;background-color: #a4a8f0;border-radius: 12px;}
.custom-scrollbar::-webkit-scrollbar-button {display:none}


/*---------- custom tab ----------*/   

.custom-tab .nav-tabs {border-bottom: none;}
.custom-tab .tab-content {padding: 30px;border: 1px solid #bec8ea;border-radius: 6px;background: #fff;height: 600px;overflow: auto;}
.custom-tab li a {padding: 8px 35px; color: #323851; font-weight: 300;}
.custom-tab li a span {display: block;text-align: center;font-size: 28px;color: #ee1a24;}
.custom-tab li a span i{color:#323851}
.custom-tab .nav-tabs .nav-item.show .nav-link, .custom-tab .nav-tabs .nav-link.active{border-bottom: 1px solid #bec8ea;  border-top-left-radius: 6px;border-top-right-radius: 6px; border: 1px solid #bec8ea; color:#ee1a24; font-weight: 400;} 
.custom-tab .nav-tabs .nav-item.show .nav-link i, .custom-tab .nav-tabs .nav-link.active i{color: #ee1a24;}
.custom-tab .nav-tabs .nav-link:focus, .custom-tab .nav-tabs .nav-link:hover{border: 1px solid #bec8ea;  ;}
.custom-tab .nav-tabs .nav-item {margin-bottom: -1px; margin-right: -1px;}
.custom-tab .tab-pane h4{font-weight: 500;color: #444;font-size: 16px;}

.tab-profile {display: flex;justify-content: left;align-items: center;margin: 20px 0px; position: relative; padding-left: 50px;}
.profile-img-wrapper {height: 45px;width: 45px;overflow: hidden;border: 1px solid #bec8ea;border-radius: 50%;display: inline-block; position: absolute; left: 0;}
.profile-usertitle {padding-left: 15px;}
.profile-usertitle-name {font-size: 14px;line-height: 19px;font-weight: 400;color: #ee1a24;margin-bottom: 2px;}
.profile-usertitle-job {font-size: 12px;color: #716f6f;font-weight: 300;}

.table.table-user-information {border-collapse: separate;border-spacing: 0 10px;}
.table-user-information td,  .table-user-information th{ border: none;} 
.table-user-information tr td:first-child,
.table-user-information tr td:last-child{border: none;}
.table-user-information tr td:first-child{border-right: 1px solid #bec8ea;}

.view-profile-icon  .dropdown .bar-icon{font-size: 18px;padding: 6px 10px;border-radius: 4px;  border:  1px solid #ddd;margin-left: 20px;color: #323851;}
.view-profile-icon .dropdown-menu{padding: 0; margin: 0;}
.chat-icon-list {display: flex;align-items: top;justify-content: center; border-bottom: 1px solid #ddd;}
.chat-icon-list li .fal{padding-left: 0px !important;}  
.chat-icon-list li a {display: inline-block;border-right: 1px solid #ddd;padding: 12px 28px; font-size: 18px; color: #323851;}
.chat-icon-list li:last-child a {border-right: none;}
.profile-link {padding: 30px 15px;}
.profile-link a{color: #444; font-size: 14px;    display: flex;align-items: center;}
.profile-link a i{ color: #ee1a24;margin-left: 10px;font-size: 18px; }
.profile-link a:hover {text-decoration: none;}


/*---------- suggesion  box css ----------*/   

.result-bucket li {padding: 12px 15px;position: relative;}
.instant-results {background: #fff;width: 96%;color: gray;position: absolute;top: 100%;left: 0;
    border: 1px solid rgba(0, 0, 0, .15);border-radius: 4px;-webkit-box-shadow:1px 2px 10px #e0dbf1;box-shadow: 1px 2px 10px #e0dbf1;display: block;z-index: 1; display: none;}
   
.instant-results.notifi-sm{width: 260px; right: 15px;left: inherit;}    

.form-search {transition: all 200ms ease-out;-webkit-transition: all 200ms ease-out;-ms-transition: all 200ms ease-out;}
.search-form {position: relative;max-width: 100%;}
.result-link {color: #4f7593;}
.result-link .media-body {font-size: 13px;color: gray;margin-left: 20px;}
.result-link .media-heading {font-size: 14px;font-weight: 400;color: #ee1a24;}
.result-link p{    font-size: 13px;color: #323851;font-weight: 300;}
.list-unstyled{  height: 260px;overflow: auto;}

.result-link:hover,
.result-link:hover .media-heading,
.result-link:hover .media-body {text-decoration: none;color: #b1151c;}
.result-entry  {border-bottom:1px solid #ddd;}
.result-link .media-left {height: 35px;width: 35px;border-radius: 50%;overflow: hidden;background: #ddd;border: 1px solid #ddd;}

.instant-results-btn {padding: 30px;}
.instant-results-btn .btn{border-radius: 50px; padding: 7px 25px;}

.notification-btn-list {position: absolute;right: 15px;top: 50%;margin-top: -10px;}
.notification-btn-list .dropdown-menu a{font-size: 12px; padding: 7px 12px;}
.notification-btn-list .dropdown-menu a .fal{font-size: 14px !important; margin-right: 5px;}
.notification-btn-list .fa-ellipsis-v{padding:0px 6px;}


.affiliation-page .tab-profile{margin: 0px 0px 20px;}


/*---------- alert css ----------*/  

.custom-alert {display: flex;align-items: center;justify-content: center;}

.alert-danger {background-color: #ffe0df;border: 1px solid #f1b9b8;padding: 15px;color: #d25f5c;display: inline-block;}
.alert-success {background-color: #daffe5;border: 1px solid #b5e4c7;padding: 15px;color: #55a76b;display: inline-block;}
.alert-info {color: #8274ad;background-color: #eee9ff;border-color: #d0c5f5;}
.alert-danger .icon-cover {border: 1px solid #d25f5c;}
.alert-success .icon-cover {border: 1px solid #55a76b;}
.alert-info .icon-cover {border: 1px solid #8274ad  ;}

.custom-alert .alert {position: relative;padding: 22px 30px 22px 80px;display: flex;align-items: center;justify-content: left;border-radius: 6px;width: 600px;}
.custom-alert .alert-content{line-height: 22px; font-size: 14px;}
.custom-alert .icon-cover {height: 40px;width: 40px;border-radius: 50%;display: flex;align-items: center;justify-content: center;position: absolute;left: 25px;}
.custom-alert .icon-cover span {font-size: 22px;}
.custom-alert strong{display: block; font-size: 15px;}

.close:focus, .close:hover{outline: none;}


/*---------- popup css ----------*/  

.modal-lg{max-width: 85%; margin: 0 auto;}
.modal-lg .modal-body{ height: calc(100vh - 300px); overflow: auto;}
.modal-md{max-width: 60%; margin: 0 auto;}
.modal-md .modal-body{ height: calc(100vh - 300px); overflow: auto;}





/*---------- form details --------------*/   

.form-cover{margin-top: 10px;}
.form-cover label{text-align: right ;}
.form-cover .form-group {    display: flex;align-items: center;justify-content: center;}
.form-cover .form-control{    border: 1px solid #e3def7; border-radius: 6px ;}
.form-group.row{margin-bottom: 15px;}
.form-group{margin-bottom: 0px;}
.form-cover .col-form-label {padding: 10px;}
.form-cover label {text-align: right;display: flex;align-items: center;justify-content: right;}
.display-f{display: flex;}

.form-cover .form-control::-webkit-input-placeholder {color: #727fab;}
.form-control::-webkit-input-placeholder {color: #e0dbf1;}
.display-b{display: block !important;}
.col-form-label{padding-top: 0px;}
select.form-control{padding: 9px 15px; height: auto !important;}        



/*---------- form mulitple input filed addded css   --------------*/  


.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#fff;font-family:sans-serif;font-size:14px;line-height:20px;color:#556270;padding:5px 5px 0;border:1px solid #e6e6e6;border-radius:2px}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag{position:relative;background:#2f3952;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 10px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ee1a24;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{background:0 0;display:block;width:100%;font-size:14px;line-height:20px;padding:5px;border:0;margin:0 5px 5px 0; outline:none}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}

/*-------- rado btn ------------*/

.common-radio-btn label{display:block;}
.form-check-inline{margin-right: 0px;}
.radiotextsty {color: #A5A4BF;font-size: 13px;}
.customradio {display: flow-root;position: relative;padding-left: 25px;margin-bottom: 0px;cursor: pointer;font-size: 18px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; margin-right: 0px;}
.customradio input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;top: 7px;left: 0;height: 15px;width: 15px;background-color: white;border-radius: 50%;border: 1px solid #BEBEBE;}
.customradio:hover input ~ .checkmark {background-color: transparent;}
.customradio input:checked ~ .checkmark {background-color: white;border:1px solid #BEBEBE;}
.checkmark:after {content: "";position: absolute; display: none;}
.customradio input:checked ~ .checkmark:after {display: block;}
.customradio .checkmark:after {top: 1px;left: 1px;width: 11px;height: 11px;border-radius: 50%;background: #ee1a24;}


/*============ custom check box ============*/
.span_pseudo, .check_box_wrap span:before, .check_box_wrap span:after {content: "";display: inline-block;background: #ee1a24;width: 0;height: 0.2rem;position: absolute;transform-origin: 0% 0%;}
.check_box_wrap {position: relative;height: 2rem;display: flex;align-items: center;margin-right: 20px;}
.check_box_wrap input {display: none;}
.check_box_wrap input:checked ~ span {background: #eee;border-color: #eee;}
.check_box_wrap input:checked ~ span:before {width: 15px;height: 3px;transition: width 0.1s;transition-delay: 0.3s;}
.check_box_wrap input:checked ~ span:after {width: 6px;height: 3px;transition: width 0.1s;transition-delay: 0.2s;}
.check_box_wrap input:disabled ~ span {background: #ececec;border-color: #dcdcdc;}
.check_box_wrap input:disabled ~ label {color: #dcdcdc;}
.check_box_wrap input:disabled ~ label:hover {cursor: default;}
.check_box_wrap label {padding-left: 2rem;position: relative;z-index: 2;cursor: pointer;margin-bottom:0;}
.check_box_wrap span {display: inline-block;width: 16px;height: 16px;border: 1px solid #ccc;position: absolute;left: 0;transition: all 0.2s;z-index: 1;box-sizing: content-box;}
.check_box_wrap span:before {transform: rotate(-55deg);top: 1rem;left: 0.37rem;}
.check_box_wrap span:after {transform: rotate(35deg);bottom: 0.35rem;left: 0.2rem;}


/*---------- popup red alert css  ----------*/  

.popup-red-alert .modal-header{    background: #ee1a24;color: #fff;text-align: center;}
.popup-red-alert .modal-header .close {padding: 1rem;margin: -16px -16px;}
.popup-red-alert .modal-title{    margin: 0 auto;display: block;}



/*---------- connectio page css  ----------*/  

.border-right-border-none tr td:first-child{border-right: none !important;}
#data-search-input .btn{     border: none;padding: 10px 15px;background: #2f3952;border-radius: 0px;color: #ffffff;font-size: 16px;}
.affiliation-page .search-div{  background: #cdd0d9;  padding: 15px;  }    
.data-search-holder { border-right: 1px solid #eeebf7;float: left;max-width: 300px;}
.data-user-list { padding: 0px 0px;}
.data-user-list li {display: flex;align-items: center;justify-content: left;}
.data-user-list li  a {display: flex;align-items: center;justify-content: left;width: 100%;padding: 6px 5px;border-radius: 50px;border: 1px solid #ddd;background: #fff; margin-bottom: 8px;}
.data-user-list li  a:hover{background: #f8f6ff;} 
.data-list-active{background: #f8f6ff !important;}
.data-user-list li a span{ overflow: hidden;display: inline-block;border-radius: 50%; max-width: 35px;}
.data-user-name {padding-left: 10px;}
.data-user-name h5 {font-size: 13px;color: #081850;}
.data-user-name p{font-size: 11px;color: #c1b6e5; }
.data-right-box {padding: 20px 0px;}


.data-search-tab .tab-content{padding: 0px; border: none; margin: 10px 0px;height: calc( 100vh - 160px );overflow: auto;}
.data-search-tab .data-list-active{background: none;}
.data-search-tab .nav-tabs{ margin: 12px 0px 20px;font-size: 13px;}
.data-search-tab .nav-tabs li{border-right: 1px solid #dddf;} 
.data-search-tab .nav-tabs li:last-child{border-right: none;}
.data-search-tab .nav-tabs li a{color: #444; border: none; padding: 5px 15px;}
.data-search-tab .nav-tabs li a:hover{background: none; border: none; }
.data-search-tab .nav-tabs .nav-link.active{background: none !important; border:none; color:#ee1a24}
.data-search-tab .tab-inner-cont {padding: 0px 10px;}

/*-------- mailer box ----------------*/


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.mailbox-widget .custom-tab .nav-item .nav-link {
    border: 0;
    color: #fff;
    border-bottom: 3px solid transparent;
}
.mailbox-widget .custom-tab .nav-item .nav-link.active {
    background: 0 0;
    color: #fff;
    border-bottom: 3px solid #2cd07e;
}

.mailbox-widget {background: #2f3952;}
.no-wrap td, .no-wrap th {
    white-space: nowrap;}

.font-light {font-weight: 300;}


.mailer-tab li a{color: #fff; }
.mailer-tab li a span{text-transform: capitalize;}

.email-table td{    padding: 12px 25px;}




#myTabContent .form-group, #myTabContent .form-control{margin-bottom: 15px;}


/*---------- Meida query ----------*/   


@media only screen and (min-width:768px) and (max-width:980px){
    .custom-tab li a {padding: 10px 16px;}
}

@media screen and (max-width:767px){

    .pr-0 {padding-right: 15px !important;}
    .pl-0 {padding-left: 15px !important;}
    .flex-listed li{width: 100%;}
    .dashboard-box li{border-right: none;}
    #custom-search-input{border-radius: 6px; margin-top: 10px;}
    .dashboard-box .card{ border-radius: 6px;}

    /*----- valign-tab------*/
    .xs-valign-tab.custom-tab { position: relative;}
    .xs-valign-tab.custom-tab .nav.nav-tabs {display: inherit;position: absolute;width: 130px;}
    .xs-valign-tab.custom-tab .tab-content{border-top: 1px solid #bec8ea;margin-left: 130px;}
    .xs-valign-tab.custom-tab li a{   padding: 8px 8px; font-size: 12px; text-align: center;}
    .xs-valign-tab.custom-tab .nav-tabs{border-bottom: none;}

    .chat-icon-list li a{padding: 10px 16   px; font-size: 14px;}

    .modal-lg{max-width: 85%; margin: 0 auto;}
    .modal-lg .modal-body{ height: auto; overflow: auto;}
    .modal-md{max-width: 60%; margin: 0 auto;}
    .modal-md .modal-body{ height: auto; overflow: auto;}

   
    
}


@media (min-width:320px) and (max-width:640px){

    .profile-details{font-size: 14px;}
    .profile .navbar-nav .dropdown-toggle::after {top: 3px;left: 1px;}
    .logo-cover{padding: 30px 0px;}
    .profile .dropdown .show{position: absolute;right: 0px;margin: 15px -10px 0px;}
    .dashboard-box ul{display: block;}
    .dashboard-box li{ margin-bottom: 8px; display: block;}
    .page-overview-inner{padding: 15px;}

    .custom-alert .icon-cover{left: 15px; height: 30px; width: 30px;}
    .custom-alert .icon-cover span{font-size: 15px;}
    .custom-alert .alert {padding: 22px 30px 22px 60px;}
    .btn-list .btn{margin:5px 5px;}
    .form-cover label{text-align: left;}
    .btn-list{display: block; text-align: center;}

    .data-search-holder{max-height:inherit;}   

}

@media screen and (max-width:480px){
    .profile {   border-left: none;}
}
