<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class=" col-xs-offset-3 col-xs-6" style="margin-top: 10%;">
    <div class="panel panel-primary" style="width: 70%; text-align: center;">
        <div class="panel-heading">Please fill in this form to create an account</div>
        <div class="panel-body">
            <form [formGroup]="registerForm" class="form-horizontal" (ngSubmit)="register()">

                <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userFirstName.errors}">
                    <input type="text" class="form-control" placeholder="Enter First Name" formControlName="userFirstName">
                    <span class="text-danger" *ngIf="(formControl.userFirstName.touched || submitted) && formControl.userFirstName.errors?.required">
                        First Name is required
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userLastName.errors}">
                    <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="userLastName">
                    <span class="text-danger" *ngIf="(formControl.userLastName.touched || submitted) && formControl.userLastName.errors?.required">
                        Last Name is required
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userPassword.errors}">
                    <input type="password" class="form-control" placeholder="Enter Password"formControlName="userPassword">
                    <span class="text-danger" *ngIf="(formControl.userPassword.touched || submitted) && formControl.userPassword.errors?.required">
                        Password is required
                    </span>
                    <span class="text-danger" *ngIf="formControl.userPassword.touched && formControl.userPassword.errors?.minlength">
                        Password must be at least 6 characters
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userEmail.errors}">
                    <input type="text" class="form-control"  placeholder="Enter Valid Email" formControlName="userEmail">
                    <span class="text-danger" *ngIf="(formControl.userEmail.touched || submitted) && formControl.userEmail.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger" *ngIf="formControl.userEmail.touched && formControl.userEmail.errors?.email">
                        Email must be a valid email address
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && formControl.userPhone.errors}">
                    <input type="text" class="form-control"  placeholder="Enter Phone No" formControlName="userPhone">
                    <span class="text-danger" maxlength = 10 *ngIf="(formControl.userPhone.touched || submitted) && formControl.userPhone.errors?.required">
                        Phone No is required
                    </span>
                    <span class="text-danger" *ngIf="formControl.userPhone.errors?.minlength || formControl.userPhone.errors?.maxlength">
                        Phone No must be 10 numbers
                    </span>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register Now</button>
            </form>
            <div class="panel-footer">
                <p>Already have an account?</p>
                <li><a routerLink="/login" routerLinkActive="active">SignIn Here</a></li>
            </div>
        </div>
    </div>
</div>